@mixin phone {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin desktop_large {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin anchorStyle() {
  opacity: 1;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
    text-decoration: underline;
  }
}
