$color_dark: #222;
$color_white: #fff;

$font_text: 1.2rem;
$font_text_mobile: 0.9rem;
$font_text_mobile_small: 0.8rem;

$font_header: 2.2rem;
$font-header-mobile: 1.5rem;
$font_header_small: 1.3rem;

$font_subheader: 2rem;
$font_subheader_mobile: 1.3rem;
$font_subheader_small: 1.1rem;
