$color_dark: #222;
$color_white: #fff;

$font_text: 1.2rem;
$font_text_mobile: 0.9rem;
$font_text_large: 1.4rem;

$font_header: 2.4rem;
$font_header_desktop: 2.2rem;
$font_header_mobile: 2rem;
$font_header_small: 1.8rem;

$font_subheader: 2rem;
$font_subheader_mobile: 1.3rem;
$font_subheader_small: 1.1rem;
