.header {
  padding: 30px 20px !important;
  font-family: var(--rubik);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 20%,

    rgba(255, 255, 255, 0) 100%
  ) !important;
  color: $color_white;
  nav {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    font-size: $font_header-small;

    @include mobile {
      font-size: $font-header_mobile;
    }

    @include desktop {
      font-size: $font_header_desktop;
    }
    @include desktop_large {
      font-size: $font_header;
    }
  }
  ul {
    li {
      a {
        font-size: 1.2rem;

        @include laptop {
          font-size: 1.4rem;
        }
      }
    }
  }
}
